<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login1</servlet-name>
        <servlet-class>Admin.login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmolyee</servlet-name>
        <servlet-class>Admin.AddEmolyee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>Admin.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword</servlet-name>
        <servlet-class>Admin.Changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>Admin.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addattendance</servlet-name>
        <servlet-class>emp.Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Admin.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendance1</servlet-name>
        <servlet-class>emp.Attendance1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>block</servlet-name>
        <servlet-class>Admin.block</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login1</servlet-name>
        <url-pattern>/login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmolyee</servlet-name>
        <url-pattern>/AddEmolyee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/UpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword</servlet-name>
        <url-pattern>/Changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addattendance</servlet-name>
        <url-pattern>/addattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendance1</servlet-name>
        <url-pattern>/Attendance1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>block</servlet-name>
        <url-pattern>/block</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
